@import "./reset.scss";
@import "./variables.scss";
@import "./fonts.scss";

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  &__top {
    justify-content: space-between;
    display: flex;
    margin-bottom: 28px;
    margin-top: 28px;
    margin-right: 38px;
    margin-left: 38px;
    align-items: center;
  }

  &__list-item {
    display: inline-block;
  }
    
  &__list-item + &__list-item {
    margin-left: 30px;
  }

  &__list-link {
    font-size: 16px;
    line-height: 28px;
    font-family: $CircularStd-Medium;
    font-weight: 400;
    color: $primary-font;
  }

  &__top-btn {
    color: $white;
    background-color: $primary-btn;
    font-weight: 500;
    font-size: 16px;
    font-family: $CircularStd-Medium;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 18px 22px;

    &:hover {
      background-color: $primary-btn-hover;
    }

    &:focus {
      background-color: $primary-btn-focus;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 128px;
    padding-bottom: 148px;
  }

  &__bottom-inner {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    margin-right: 106px;
  }

  &__bottom-title {
    @extend %heading;
    font-size: 70px;
    line-height: 70px;
    text-align: left;
    margin-bottom: 25px;
  }

  &__bottom-subheading {
    color: $primary-font;
    font-family: $CircularStd-Book;
    font-weight: 400;
    font-size: 21px;
    line-height: 34px;
    text-align: left;
    max-width: 445px;
    margin-bottom: 35px;
    max-width: 440px;
  }

  &__bottom-btn {
    color: $white;
    background-color: $primary-btn;
    font-family: $CircularStd-Medium;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 197px;
    height: 65px;
    border-radius: 5px;
    margin-bottom: 30px;

    &:hover {
      background-color: $primary-btn-hover;
    }

    &:focus {
      background-color: $primary-btn-focus;
    }
  }

  &__bottom-caption {
    color: $primary-font;
    font-style: 16px;
    line-height: 28px;
    text-align: left;
    font-family: $CircularStd-Book;
  }

  &__bottom-link {
    color: $primary-btn;
    font-style: 16px;
    line-height: 28px;
    text-align: left;
    font-family: $CircularStd-Book;

    &:hover {
      color: $primary-btn-hover;
      text-decoration: underline;
    }

    &:focus {
      color: $primary-btn-focus;
      text-decoration: underline;
    }

    &:visited {
      color: $primary-btn-visited;
    }
  }
}

.social-activity {
  display: flex;
  padding-top: 128px;
  padding-bottom: 152px;
  border-bottom: 1px solid $divider;

  .container {
    display: flex;
  }

  .activity {
    display: flex;
    justify-content: space-between;
    margin-right: 148px;
       
    &__downloads {
      display: flex;
      flex-direction: column;
      margin-right: 120px;

      &-title {
        color: $primary-font;
        font-size: 70px;
        line-height: 70px;
        letter-spacing: -1px;
        font-family: $CircularStd-Bold;
        font-weight: 700;
       margin-bottom: 20px;
      }

      &-icon {
        display: inline-block;
        margin-bottom: 10px;
      }

      &-text {
        font-size: 16px;
        line-height: 28px;
        font-family: $CircularStd-Book;
        font-weight: 400;
        color: $primary-font;
        width: 131px;
      }

      &-link {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        font-family: $CircularStd-Book;
        color: $primary-btn;
        cursor: pointer;
      }

      &-link:hover {
        color: $primary-btn-hover;
      }

      &-link:focus {
        color: $primary-btn-focus;
      }

      &-link:visited {
        color: $primary-btn-visited;
      }
    }

    .downloads-icon__heart + .downloads-icon__heart {
      margin-left: 3px;
    }

    &__raiting {
      display: flex;
      flex-direction: column;
      max-width: 167px;

      &-title {
        color: $primary-font;
        font-family: $CircularStd-Bold;
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 18px;
      }

      &-icons {
        display: inline-block;
        margin-bottom: 10px;
      }

      &-text {
        margin-bottom: 1px;
        color: $primary-font;
        font-size: 16px;
        line-height: 28px;
        font-family: $CircularStd-Book;
        font-weight: 400;
      }

      &-link {
        color: $primary-btn;
        font-size: 16px;
        line-height: 28px;
        font-family: $CircularStd-Book;
        font-weight: 400;
      }

      &-link:hover {
        color: $primary-btn-hover;
      }

      &-link:focus {
        color: $primary-btn-focus;
      }

      &-link:visited {
        color: $primary-btn-visited;
      }
    }

    .raiting-icon__star + .raiting-icon__star {
      margin-left: 3px;
    }
  }

  .trusted-users {
    display: flex;
    flex-direction: column;

    &__text {
    max-width: 473px;
    color: $primary-font;
    font-family: $CircularStd-Bold;
    font-size: 34px;
    line-height: 45px;
    font-weight: 700;
    letter-spacing: -0.6;
    margin-bottom: 42px;
    }

    &__subtitle {
      max-width: 128px;
      color: $secondary-font;
      font-family: $CircularStd-Book;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 38px;
    }
  }
}

.instappoint {
  padding-top: 95px;
  padding-bottom: 35px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend %heading;
    margin-bottom: 52px;
    max-width: 571px;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1009px;
  }

  &__content-item {

    & + .instappoint__content-item {
      margin-left: 133px;
    }

    .content-item__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 96px;
      height: 96px;
      background-color: $primary-btn;
      border-radius: 10px;
      box-shadow: 0px 32px 54px rgba(37, 138, 255, 0.224553);
      margin-bottom: 35px;
    }

    .content-item__title {
      max-width: 249px;
      color: $primary-font;
      font-family: $CircularStd-Bold;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 20px;
    }

    .content-item__text {
      min-width: 249px;
      color: $secondary-font;
      font-family: $CircularStd-Book;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }

    &:nth-child(2) {
      margin-top: 75px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        background-image: url("../images/img_arrow-1.png");
        top: -20px;
        left: -257px;
        width: 224px;
        height: 89px;
        bottom: 1px solid red;
      }
    }

    &:nth-child(3) {
      margin-top: 145px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        background-image: url("images/img_arrow-2.png");
        top: -100px;
        left: -268px;
        width: 252px;
        height: 198px;
      }
    }
  }
}

.control {
  position: relative;
  padding-top: 55px;
  padding-bottom: 55px;
  
  &__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend %heading;
    text-align: center;
    max-width: 500px;
    margin-bottom: 30px;
  }

  &__img-wrap:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 129px;
    bottom: -66px;
    left: 0;
    background: linear-gradient(0deg, rgba(246, 252, 255, 0.0001) 0%, #F7F7F7 100%);
  }
}

.grow-business {
  padding-top: 90px;
  padding-bottom: 90px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin-right: 200px;
  }

  &__title {
    @extend %heading;
    max-width: 375px;
    margin-bottom: 55px;
  }
}

.business-advantages {

  &__item {
    display: flex;
  }

  &__item + .business-advantages__item {
    margin-top: 40px;
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 83px;
    border: 1px solid $divider;
    border-radius: 10px;
    margin-right: 30px;
  }

  &__text-wrap {
    max-width: 205px;
  }

  &__title {
    font-family: $CircularStd-Bold;
    font-weight: 700;
    font-size: 21px;
    line-height: 34px;
    color: $primary-font;
    margin-bottom: 5px;
  }

  &__text {
    font-family: $CircularStd-Book;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $secondary-font;
  }
}

.clients-meet {
  padding-top: 90px;
  padding-bottom: 90px;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %heading;
    margin-bottom: 85px;
    max-width: 530px;
  }

  &__bottom {
    display: flex;
  }

  &__img {
    margin-right: 100px;
    margin-left: -40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
  }

  &__text {
    font-family: $CircularStd-Book;
    font-size: 18px;
    line-height: 32px;
    color: $primary-font;
    margin-bottom: 20px;
    max-width: 445px;
  }

  &__btn {
    align-items: center;
    justify-content: center;
    font-family: $CircularStd-Book;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    background-color: $primary-btn;
    display:flex;
    width: 197px;
    height: 65px;
    border-radius: 5px;
    margin-bottom: 30px;
  }  

  &__quote-wrap {
    max-width: 370px;

    .quote__text {
      font-family: $CircularStd-Book;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: $secondary-font;
      margin-bottom: 15px;
    }

    .quote__author {
      font-family: $CircularStd-Medium;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: $primary-font;
    }
  }
}
