$font: 'Circular Std', sans-serif;

$primary-btn: #258AFF;
$primary-font: #1D293F;
$secondary-font: #7C8087;
$bg-divider: #E2E4E8;
$white: #ffffff;
$ic-bg-colored: #E9F7FE;
$ic-star: #F5A623;
$ic-heart: #FF523D;
$ic-mail: #8C97AC;
